<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6UsDIRZa1qqeXm7eheo8PgnAMqh1A3yY</string>
	<key>GCM_SENDER_ID</key>
	<string>978888929056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nmanivannan6.FirstProgrammingAssignment</string>
	<key>PROJECT_ID</key>
	<string>firstprogrammingassignme-a555a</string>
	<key>STORAGE_BUCKET</key>
	<string>firstprogrammingassignme-a555a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978888929056:ios:838cb2f67a0f102034b145</string>
</dict>
</plist>